.wrapper {
}

.page {
}

.page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg.webp") center/cover no-repeat;
}

.main-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  pointer-events: none;
}

.main-screen * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

/* ---------------------------------------- */
.moon {
}

.moon span {
  padding-bottom: 36%;
  height: auto;
  background: url("../img/moon.webp") top/100% no-repeat;

  transform: translate(0px, -50%);
}

/* ---------------------------------------- */
.building span {
  width: 110%;
  left: -5%;
}

.building__three span {
  background: url(../img/building-03.webp) bottom/auto 100% repeat-x;
}

.building__two span {
  background: url(../img/building-02.webp) bottom/auto 100% repeat-x;
}

.building__one span {
  background: url(../img/building-01.webp) bottom/auto 100% repeat-x;
}

/* ---------------------------------------- */
.train span {
  min-width: 62.5rem;
  left: 50%;
  transform: translate(-50%, 0px);
  background: url(../img/train.webp) bottom/auto 100% no-repeat;
}

/* ---------------------------------------- */
.santa {
}

.santa__tree span {
  margin-left: -60vh;
  background: url(../img/christmas-tree.webp) center/auto 25% no-repeat;
}

.santa__ball_one span {
  margin-top: -10vh;
  margin-left: -40vh;
  background: url(../img/ball-01.webp) center/auto 2.5% no-repeat;
}

.santa__candy_one span {
  margin-top: -2vh;
  margin-left: -35vh;
  background: url(../img/candy-01.webp) center/auto 4.5% no-repeat;
}

.santa__ball_two span {
  margin-top: -5vh;
  margin-left: -27vh;
  background: url(../img/ball-02.webp) center/auto 1.5% no-repeat;
}

.santa__candy_two span {
  margin-left: -23vh;
  background: url(../img/candy-02.webp) center/auto 3.5% no-repeat;
}

.santa__man span {
  margin-top: -10vh;
  margin-left: -6vh;
  background: url(../img/santa.webp) center/auto 25% no-repeat;
}

/* ---------------------------------------- */
.tree span {
  background: url(../img/tree.webp) bottom/auto 100% repeat-x;
}

/* ---------------------------------------- */
.stairs span {
  width: 110%;
  left: -5%;
  background: url(../img/stairs.webp) bottom/100% no-repeat;
}

/* ---------------------------------------- */
.efx {
  background: url(../img/noise.webp) center repeat;
  will-change: auto;
}

.efx::before,
.efx::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.efx::before {
  background: linear-gradient(180deg, #194153 0%, #16233b 100%);
  mix-blend-mode: overlay;
  opacity: 0.8;
}

.efx::after {
  background: linear-gradient(
    50% 50% at 50% 50%,
    rgba(4, 33, 58, 0) 0%,
    #04213a 100%
  );
  opacity: 0.5;
}

/* ---------------------------------------- */
.content {
  padding-top: 300vh;
  padding-bottom: 3.125rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.content__container {
  position: relative;
  margin: 0px auto;
  max-width: 78.75rem;
  padding: 1.875rem;
  background-color: rgba(22, 25, 59, 0.8);
}

.content__title {
  font-size: 2.125rem;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}

.content__body {
}

.content__body p {
  line-height: 150%;
}

.content__body p:not(:last-child) {
  margin-bottom: 1.875rem;
}

/* Animation on load */
.stairs span {
  transform: translate(0px, 100%);
}

.loaded .stairs span {
  transform: translate(0px, 1%);
  transition: transform 1s ease;
}

.tree span {
  transform: translate(0px, 100%);
}

.loaded .tree span {
  transform: translate(0px, 0%);
  transition: transform 1s ease 0.1s;
}

.moon span {
  transform: translate(0px, -100%);
}

.loaded .moon span {
  transform: translate(0px, -50%);
  transition: transform 1s ease 0.8s;
}

.building span {
  transform: translate(0px, 100%);
}

.loaded .building span {
  transform: translate(0px, 0%);
  transition: transform 1s ease;
}

.loaded .building__one span {
  transition-delay: 0.2s;
}

.loaded .building__two span {
  transition-delay: 0.4s;
}

.loaded .building__three span {
  transition-delay: 0.6s;
}

.train span {
  opacity: 0;
  transform: translate(100%, -100%);
}

.loaded .train span {
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: transform 1.5s ease 1.5s, opacity 1.5s ease 1.5s;
}

.santa span {
  transform: translate(-100vh, 0px);
}

.loaded .santa span {
  transform: translate(0vh, 0px);
}

.loaded .santa__tree span {
  transition: transform 2.5s ease 1.25s;
}
.loaded .santa__ball_one span {
  transition: transform 2.4s ease 1.2s;
}
.loaded .santa__candy_one span {
  transition: transform 2.3s ease 1.15s;
}

.loaded .santa__ball_two span {
  transition: transform 2.2s ease 1.1s;
}
.loaded .santa__candy_two span {
  transition: transform 2.1s ease 1.05s;
}

.loaded .santa__man span {
  transition: transform 2s ease 1s;
}
